@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

section {
    overflow: hidden;
  }

  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  .navbar {
    background: hsla(212, 100%, 94%, 0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 1rem;
}

.navbar .nav-link {
    color: #000;
    margin-right: 1.8rem;
    padding: 0.5rem 0;
    font-size: 1rem; 
}

.ml-auto {
    margin-left: auto;
}

.navbar .nav-link:hover {
    color: #555;
}

.navbar .company-name {
    font-size: 2rem;
    color: #2a4665;
    font-family: "Raleway", sans-serif;
}

.navbar-brand img {
    height: 45px;
    margin-left: 45px;
    margin-top: 10px;
}

.navbar .search-form {
    display: flex;
    justify-content: center;
    margin-top: 7px;
    margin-right: 3rem;
}

.navbar .search-form input[type="search"] {
    width: 300px;
    height: 30px;
    font-size: 0.8rem;
    border-radius: 30px;
    transition: width 0.4s ease-in-out;
}

#username {
  color: #000000;
  margin-left: 8px;
  vertical-align: middle;
}

.navbar .dropdown-menu {
  background-color: #1b2f45;
  border: none;
}

.navbar .dropdown-menu .dropdown-item {
  color: #ffffff;
}

.navbar .dropdown-menu .dropdown-item:hover {
  background-color: #021634;
}

@media (max-width: 1100px) {
  .navbar .nav-link {
      font-size: 0.8rem;
  }

  .navbar .company-name {
      font-size: 1.5rem;
  }

  .navbar-brand img {
      height: 35px;
      margin-left: 15px;
      margin-top: 5px;
  }

  .navbar .search-form {
    display: flex;
    justify-content: center;
    margin-top: 7px;
    margin-right: 2rem;
}

  .navbar .search-form input[type="search"] {
    width: 200px;
    height: 25px;
    font-size: 0.8rem;
    border-radius: 30px;
    transition: width 0.4s ease-in-out;
}
}

@media (max-width: 1000px) {
    .navbar .nav-link {
        font-size: 0.8rem;
    }

    .navbar .company-name {
        font-size: 1.5rem;
    }

    .navbar-brand img {
        height: 35px;
        margin-left: 20px;
        margin-top: 5px;
    }

    .navbar .search-form {
      display: flex;
      justify-content: center;
      margin-top: 7px;
      margin-right: 2rem;
  }

    .navbar .search-form input[type="search"] {
      width: 200px;
      height: 25px;
      font-size: 0.8rem;
      border-radius: 30px;
      transition: width 0.4s ease-in-out;
  }
}

@media (max-width: 900px) {
  .navbar .nav-link {
      font-size: 0.8rem;
      margin-right: 1rem
  }

  .navbar .company-name {
      font-size: 1.3rem;
  }

  .navbar-brand img {
      height: 25px;
      margin-left: 20px;
      margin-top: 5px;
  }
}


@media (max-width: 768px) {
    .navbar-brand img {
        height: 30px;
        margin-left: 10px;
    }

    .navbar .search-form input[type="search"] {
        width: 200px;
        margin-left: 3rem;
        transition: none;
    }
}

.parallax {
    background: linear-gradient(rgba(27, 47, 69, 0.8), rgba(27, 47, 69, 0.8)), url("../images/t1.jpg") center center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
  

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
}

.main-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.main-header img {
  width: 100%;
  max-width: 500px;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}

.main-content {
  flex: 1;
  min-width: 300px;
  margin-top: 30px;
}

.title {
  margin-top: 20px;
  text-align: center;
  color: #ddd;
}

.lokasi {
  text-align: center;
  font-size: 1rem;
  color: #969696;
}

.description {
  font-size: 1.2rem;
  color: #d3d3d3;
  text-align: justify;
  text-align: center;
}
  
  @media (max-width: 768px) {
    .container {
        flex-direction: row;
        align-items: center;
        padding: 20px;
        display: flex;
    }

    .main-header {
        margin-bottom: 20px;
        margin-top: 120px;
    }

    .main-header img {
        margin: 0 auto;
    }

    .main-content {
        text-align: center;
        margin-left: 0;
        width: 100%;
        margin-top: 15px;
    }

    .title, .lokasi, .description {
        text-align: center;
        margin: 0 0 10px 0;
    }
}

  .scroll-container {
    overflow-x: auto;
    white-space: nowrap;
}

.scroll-row {
    display: flex;
}

.tasks h2 {
    font-size: 2rem;
    color: #ffffff;
}

.card {
    background: #1b2f45;
    border: 2px solid #021634;
    border-radius: 20px;
    margin-right: 20px;
    padding: 20px;
    min-width: 250px;
    transition: .4s;
}

.card:hover {
    border-color: #ffffff;
    transform: translateY(-5px);
    box-shadow: 0 5px 12px rgba(0, 0, 0, .08);
  }

.task-card img {
    width: 100%;
    border-radius: 10px;
}

.task-info h3 {
    margin-top: 10px;
    font-size: 1.5rem;
    color: #ffffff;
}

.task-info h4 {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #ffffff;
}

.task-info p {
    font-size: 0.8rem;
    color: #bcbcbc;
}

.btn-redeem {
  background-color: #5c54ff;
  color: white;
  width: 100%;
  margin-top: 20px;
}

.footer {
    background: hsla(212, 100%, 94%, 0.7);
    width: 100%;
    padding: 1rem 0;
  }
  
  .footer footer {
    max-width: 1200px;
    margin: 0 auto;
  }